* {
    box-sizing: border-box;

}

body {
    background-color: grey;
}





.tank {
    height: 200px;
    width: 400px;
    background-color: white;
    box-shadow: inset 0 0 20px rgb(212, 212, 212);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bowl {
    height: 400px;
    width: 400px;
    background-color: mintcream;
    border: 80px solid white;
    border-radius: 30% 30% 50% 50%;
    box-shadow: inset 0 0 20px rgb(173, 173, 173);
    transition: all 300ms linear;
}

.flush-btn {
    width: 60px;
    height: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 4px;
    cursor: pointer;
    
}